.footer-navigation{
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;

    width: 100%;
    box-shadow: 0 -10px 30px 0 rgba(0, 0, 0, 0.10);
}

.footer-navigation-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    padding: 8px 16px 0;

    color: var(--color-unactive);
    font-size: 0.625rem;
    cursor: pointer;
}

.footer-navigation-item.current{
    color: var(--color-primary);
}

.footer-navigation-item div{
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
}

